<div class="container border-0 shadow">

  <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit(myForm)">

    <mat-form-field  class="example-full-width ">
      <mat-label class="h5">Full Name</mat-label>
      <input matInput type="text" placeholder="" formControlName="name"/>
    </mat-form-field>

    <mat-form-field  class="example-full-width">
            <mat-label class="h5">Birth Day</mat-label>
      <input matInput type="date" placeholder="" formControlName="birthDate"/>
    </mat-form-field>

    <mat-form-field  class="example-full-width">
            <mat-label class="h5">Login</mat-label>
      <input matInput type="email" placeholder="" formControlName="login"/>
    </mat-form-field>

    <mat-form-field  class="example-full-width">
            <mat-label class="h5">Password</mat-label>
      <input matInput type="password" placeholder="" formControlName="password"/>
    </mat-form-field>
    <input type="submit"  value="submit" class="btn btn-block" >
  </form>

</div>

<!-- <div class="container border-0 shadow">
  <h1 class="title-breef">Edit USer : </h1>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-control border-0">
      <label for="login" name="login" id="login">Login</label>
      <input type="email" name="login" id="login" required formControlName="name" placeholder="Your name"/>
      {{ myForm.value.name }}
      </div>

    <div class="form-control border-0">
      <label for="password" name="password" id="password">Pasword</label>
      <input type="password" name="password" id="password" required formControlName="email" placeholder="Your email"/>
    </div>

    <div class="form-control border-0">
      <label for="password" name="password" id="password">Pasword</label>
      <input type="password" name="password" id="password" required formControlName="message" placeholder="Your message" />
    </div>

    <input type="submit"  value="submit" class="btn btn-block">
  </form>
</div> -->
