<div class="container-fluid border-0 shadow">

  <div class="container-fluid my-3 border-0 shadow-sm w-75 m-auto">
    <form action="" (ngSubmit)="getUsers()" class="">
    <input type="submit" value="Get All Users" class="btn btn-block" style="width: fit-content; margin: auto;">
    </form>

    <h3 class="title-breef py-3" style="margin:unset !important;">Users::</h3>

    <table class="table w-75 m-auto" *ngIf="Users && Users.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>fullName</th>
          <th>birthday</th>
          <th>login</th>
          <th>password</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let u of Users">
        <tr>
          <td>{{ u.id }}</td>
          <td>{{ u.fullName }}</td>
          <td>{{ u.birthDate }}</td>
          <td>{{ u.login }}</td>
          <td>{{ u.password }}</td>
          <th>
            <button mat-flat-button color="accent" routerLink="/updateUser/{{u.id}}">UpdateUser</button>

            <!-- </button> -->
        </tr>
      </tbody>
    </table>
    <p *ngIf="!Users || Users.length <= 0">No users Found</p>
  </div>
