<div class="container border-0 shadow">
  <form (ngSubmit)="submit()">
    <h1 class="title-breef">Sing in</h1>

    <div class="form-control border-0">
      <label for="login" name="login" id="login">Login</label>
      <input type="email" name="login" id="login" required placeholder="example@gmail.com"  [(ngModel)]="login"  />
    </div>

    <div class="form-control border-0">
      <label for="password" name="password" id="password">Pasword</label>
      <input type="password" name="password" id="password" required placeholder="***********" [(ngModel)]="password" />
    </div>

    <input type="submit"  value="submit" class="btn btn-block">
  </form>

</div>
