<div class="container mw-100 " >
  <div class="container1">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <tbody>
            <tr > <!--*ngFor="let event of events; let i = index;">-->
              <th scope="row">col1</th>
              <td >blabla</td>
              <td class="remove" style="color: red; font-weight: bold;">X</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container2">
    <div class="mb-3 row">
      <label for="staticEvent" class="col-sm-2 col-form-label">Event</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control" id="staticEvent" value="">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword">
      </div>
    </div>
  </div>
</div>
